# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# User

/elisp/elpa/*
!/elisp/elpa/.keep
auto-save-list/
eshell/
ac-comphist.dat
network-security.data
.recentf